.bg-red-gradient{
    background: linear-gradient(91.59deg, rgba(242, 19, 19, 0.8) 48.65%, rgba(244, 67, 54, 0) 149.07%);
}
.link-format, .link-format:hover{
    text-decoration: none;
}

.red-font {
    color: #F44336;
}

.black-font {
    color: #000000;
}

.menu-icon {
    height: 16px;
    width: auto;
}

.dash-card {
    width: 652px;
    height: 324px;
}

.account-card {
    width: 405px;
    height: 154px;
}

.menu-button {
    background-color: #C4C4C4;
    width: 153px;
    height: 153px;
}

.menu-button-account {
    background-color: #C4C4C4;
    width: 153px;
    height: 128px;
}

.button-art {
    height: 85px;
    width: 85px;
}

.button-art-menu {
    height: 25px;
    width: 25px;
}

.edit-button {
    height: 16px;
    width: 16px;
    margin-top: -5px;
}

.users-card {
    height: 351px;
}

.overflow {
    overflow-y: scroll;
}

.border-between {
    border-right: 1px solid #C4C4C4 ;
}

.profile-pic {
    height: 150px;
    width: 150px;
}

.check-art {
    height: 35px;
    width: 40px;
}

.post-pic {
    height: 136px;
    width: auto;
}

.create-post-pic {
    height: 34px;
    width: auto;
}

.agreements-profile-pic {
    height: 50px;
    width: auto
}