.bg-red-gradient{
    background: linear-gradient(91.59deg, rgba(242, 19, 19, 0.8) 48.65%, rgba(244, 67, 54, 0) 149.07%);
}
.link-format, .link-format:hover{
    text-decoration: none;
}

.red-font {
    color: #F44336;
}

.black-font {
    color: #000000;
}

.menu-icon {
    height: 16px;
    width: auto;
}

.admin-card {
    width: 652px;
    height: 324px;
}

.menu-button {
    background-color: #C4C4C4;
    width: 153px;
    height: 153px;
}

.edit-button {
    height: 16px;
    width: 16px;
    margin-top: -5px;
}

.users-card {
    height: 351px;
    overflow-y: scroll;
}